@import '../core/variables';

.availability-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    color: $font-color;
    text-align: center;
    position: relative; /* Muy importante para posicionar la línea */
}

/* Regla para la línea degradada */
.availability-container::before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, $primary-color, transparent);
    position: absolute;
    top: 0;
    left: 0;
}

.status-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.status-indicator {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
}
/* En modo claro (verde como lo tenías) */
body.light-mode .status-indicator {
    background-color: #008000;
    animation: pulse-green 1.5s infinite;
}
    @keyframes pulse-green {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
}
.availability-text {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
}

body.light-mode .status-indicator {
    background-color: #008000;
}