@import '../core/variables';
.footer {
    text-align: center;
    color: $font-color;
    color: $font-family; /* Color de texto profesional */
}
.footer p {
    font-size: 0.9rem; /* Tamaño del texto */
    font-weight: 400; /* Peso del texto para una apariencia más ligera */
    padding-top: 27px;
}