// 🎨 Colores
$primary-color: #ec4899;
$secondary-color: #ea8fbd;
$background-color: rgb(177, 198, 226);
$background-secondary-color: rgb(4, 31, 63);
$card-background: rgb(121, 170, 234);
$border-color: #2a2e5a;
$font-color: rgb(255, 255, 255);

// Font
$font-family: 'Poppins', sans-serif;




